/* Basic styling for the resume */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.body-header {
  background-image: url("image/macbook_mouse.jpg");
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
  z-index: 1;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}
.nav-menu li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.4s;
}

.nav-menu li a:hover {
  color: lightgrey;
  border-bottom: 1px solid black;
}

.horizontal-list li a:hover {
  color: lightgrey;
  border-bottom: 1px solid black;
}

.text-center {
  text-align: center;
}

/* Name and Social Icons */
#name-social-container {
  margin-top: 20vh;
}
#sm {
  margin-top: 2rem;
}
#my-name {
  font-size: 3rem;
  letter-spacing: normal;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.social-icons > li > a > i {
  border: 2px;
  padding: 0;
  font-size: 1rem;
}

.social-icons > li > a > i:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 6px white;
  text-decoration: none !important;
}

.social-icons {
  margin-top: 0.5rem;
}

/* ABOUT SECTION */
#about > .profile {
  position: relative;
  margin-top: -6rem;
  z-index: 2;
}
.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid black;
}
#about p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: light;
}
