/* Basic styling for the resume */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: auto;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

main {
  padding: 0px;
}

section {
  margin-bottom: 20px;
}

.body-header {
  background-image: url("image/macbook_mouse.jpg");
  height: 65vh;
  width: auto;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
  z-index: 1;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}
.nav-menu li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 0.4s;
}

.nav-menu li a:hover {
  color: lightgrey;
  border-bottom: 1px solid black;
}

.horizontal-list li a:hover {
  color: lightgrey;
  border-bottom: 1px solid black;
}
.hamburger {
  display: none;
}
#menu-toggle {
  display: none;
}

.text-center {
  text-align: center;
}

/* Name and Social Icons */
#name-social-container {
  margin-top: 11vh;
}
#sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#my-name {
  font-size: 3rem;
  letter-spacing: normal;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.social-icons > li > a > i {
  border: 2px;
  padding: 0;
  font-size: 1.5rem;
}

.social-icons > li > a > i:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 6px white;
  text-decoration: none !important;
}

.social-icons {
  margin-top: 0.5rem;
}

/* ABOUT SECTION */
#about > .profile {
  position: relative;
  margin-top: -6rem;
  z-index: 2;
}
.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid black;
}
#about p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: light;
  width: 70vw;
  text-align: justify;
  text-justify: inter-word;
  text-wrap-style: balance;
  margin: 2rem 10rem;
}

/* Skills section */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-heading {
  width: auto;
  padding: 28px 10px 10px;
  margin: 10px auto;
  font-weight: 400;
  text-align: center; /* optional but looks clean */
}

.section-heading span {
  font-size: 40px;
  color: #2857a4;
  display: inline-block;
  padding-top: 16px;
  margin-right: 0.5rem;
}
.skills-display {
  width: 70%;
  height: auto;
  margin: 2rem auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  justify-content: space-around;
  border: none;
}
.skill-bar {
  width: 13rem;
  height: 4rem;
  border-radius: 3rem;
  margin-top: 0.5rem;
  border: 2px solid white;
  background-color: lightgray;
  overflow: hidden;
}
.skill-1 {
  margin: 0 6rem 0 0;
  width: auto;
  height: 4rem;
  border-radius: 3rem 0 0 3rem;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px gray;
  color: white;
}
.skill-2 {
  margin: 0 2rem 0 0;
  width: auto;
  height: 4rem;
  border-radius: 3rem 0 0 3rem;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px gray;
  color: white;
}
.skill-3 {
  margin: 0 4rem 0 0;
  width: auto;
  height: 4rem;
  border-radius: 3rem 0 0 3rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px gray;
  color: white;
}
.skill-4 {
  margin: 0 7rem 0 0;
  width: auto;
  height: 4rem;
  border-radius: 3rem 0 0 3rem;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px gray;
  color: white;
}
.skill-5 {
  margin: 0 3rem 0 0;
  width: auto;
  height: 4rem;
  border-radius: 3rem 0 0 3rem;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px gray;
  color: white;
}
.skill-6 {
  margin: 0 5rem 0 0;
  width: auto;
  height: 4rem;
  border-radius: 3rem 0 0 3rem;
  background-color: rgb(112, 69, 76);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px gray;
  color: white;
}

/* EXPERIENCE SECTION and EDUCATION SECTION */

#experience {
  width: auto;
  height: auto;
  border: none;
}

#education {
  width: auto;
  height: auto;
  border: none;
}

#experience > .timeline,
#education > .timeline {
  position: relative;
  border: none;
  background: white;
}

#experience > .timeline > .timeline-box,
#education > .timeline > .timeline-box {
  position: relative;
  width: 40%;
  min-height: 150px;
  left: 5%;
  border: 2px solid grey;
  z-index: 9;
  background-color: white;
}

#experience > .timeline > .timeline-box:nth-child(2n) {
  left: 53%;
}
#education > .timeline > .timeline-box:nth-child(2n) {
  left: 53%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}
.highlight h1 {
  color: blue;
  font-size: larger;
}
.highlight h2 {
  color: orange;
  font-size: large;
}
.highlight h3 {
  color: gray;
  font-size: medium;
}
#experience > .timeline > .timeline-divider {
  height: 75%;
  width: 0;
  border: 1px dotted blue;
  position: absolute;
  top: 10%;
  left: 49%;
  padding: 0;
  z-index: 1;
}

#experience > .timeline > .timeline-divider > .timeline-traveller,
#education > .timeline > .timeline-divider > .timeline-traveller {
  transform: rotate(90deg);
  font-size: xx-large;
  position: sticky;
  top: 30%;
  margin-top: -42px;
  z-index: 5;
}
#experience > .timeline > .timeline-box:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 36%;
  right: -11.5%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: darkgrey;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
}
#experience > .timeline > .timeline-box:nth-child(2n)::after {
  content: "";
  position: absolute;
  top: 36%;
  left: -11%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: darkgrey;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
}
/*education adjustments */

#education > .timeline > .timeline-divider {
  height: 68%;
  width: 0;
  border: 1px dotted blue;
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 0;
  z-index: 1;
}

#education > .timeline > .timeline-box:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -14%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: darkgrey;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
}
#education > .timeline > .timeline-box:nth-child(2n)::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -8%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: darkgrey;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
}

/* projects section */
.card-container {
  display: flex;
}

.project {
  width: auto;
  height: auto;
  border: 2px solid black;
  margin: 3rem;
  overflow: hidden;
}

.project {
  position: relative;
  border: none;
}
.info {
  position: absolute;
  top: 0rem;
  opacity: 0;
  transition: all 2s ease-in;
  width: 100%;
  height: 100%;
  font-size: large;
}

.project:hover .info {
  opacity: 1;
  color: black;
  font-weight: bolder;
  background-color: transparent;
  z-index: 1;
}

.project:hover img {
  opacity: 0.5;
  z-index: 0;
}

.project:hover {
  box-shadow: 0 0 2px 2px green;
}

/* CONTACT SECTION*/

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}
form input {
  width: 150%;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  outline: none;
}
input::placeholder {
  color: white;
  font-weight: bold;
}
textarea::placeholder {
  color: white;
  font-weight: bold;
}

.connect {
  width: 30%;
  height: 30%;
  color: white;
}
.sm {
  display: block;
  margin: 3rem auto;
  text-align: center;
}
.sm i {
  color: white;
  font-size: 2rem;
  margin: 0 1rem;
  border-radius: 50%;
}
.sm i:hover {
  box-shadow: 0 0 1px 3px white;
}
/* MEDIA QUERIES */
/*MEDIA QUERIES*/
@media (max-width: 572px) {
  #about p {
    width: auto;
    text-align: justify;
    text-wrap-style: balance;
    margin: 1rem auto;
  }
  .nav-menu {
    position: absolute;
    top: 15%;
    display: none;
  }
  #my-name {
    font-size: 1.5rem !important;
  }
  #sm {
    margin-top: 0;
  }
  #sm .social-icons {
    font-size: 0.1rem;
  }

  .hamburger {
    display: block;
    font-size: x-large;
    color: white;
    text-align: start;
    margin: 2rem;
  }
  #menu-toggle:checked + .hamburger + nav .nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  #about p {
    width: auto;
    text-align: justify;
    text-wrap-style: balance;
    margin: 1rem auto;
  }
  /*experience adjustments */
  #experience > .timeline > .timeline-divider {
    left: 6%;
  }

  #experience > .timeline > .timeline-box {
    left: 12%;
    width: 80%;
  }
  #experience > .timeline > .timeline-box:nth-child(2n) {
    left: 12%;
  }
  #experience > .timeline > .timeline-box:nth-child(2n + 1)::after {
    left: -9%;
  }

  #experience > .timeline > .timeline-box:nth-child(2n)::after {
    left: -9%;
  }

  /*education adjustments */

  #education > .timeline > .timeline-divider {
    left: 6%;
  }

  #education > .timeline > .timeline-box {
    left: 12%;
    width: 80%;
  }

  #education > .timeline > .timeline-box:nth-child(2n) {
    left: 12%;
  }

  #education > .timeline > .timeline-box:nth-child(2n + 1)::after {
    left: -9%;
  }

  #education > .timeline > .timeline-box:nth-child(2n)::after {
    left: -9%;
  }

  form input {
    width: 100%;
  }
  form textarea {
    box-sizing: border-box;
    width: 20%;
    border-bottom: none;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
}
